.services__top-content {
    text-align: center;
    margin-bottom: 50px;
}

.service__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.services__item {
    background: var(--primary-color);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.service__icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
}

.light-theme .service__icon {
    background-color: var(--primary-color);
}

.light-theme .services__item {
    background: #fff;
    color: var(--primary-color);
}

.light-theme .service__icon i {
    color: #fff;
}

.service__icon i {
    font-size: 2rem;
    color: var(--primary-color);
}

.services__title {
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 30px;
}

/* Título */
.title__card {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold; /* font-bold */
    margin-bottom: 0.5rem; /* mb-2 */
}

.description__card {
    font-size: .9rem; /* text-xl */
    line-height: 20px;
}


/* Grupo de botões com espaçamento */
.button-group {
    margin-top: 1rem; /* mt-4 */
}

.button-group .btn + .btn {
    margin-left: 1rem; /* space-x-4 (espaçamento entre botões) */
}

/* Botão */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* Adicione mais estilos conforme necessário, como padding, borda, etc. */
}



@media only screen and (max-width: 992px) {
    .services__top-content h2 {
        font-size: 1.5rem;
    }

    .service__item-wrapper {
        flex-wrap: wrap;
    }

    .services__item {
        margin-bottom: 30px;
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .services__item {
        width: 45%;
    }
    .services__title {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 576px) {
    .services__item {
        width: 100%;
    }
}